<!DOCTYPE html>
<%- include('includes/head.ejs') %>
    <title>Sign In</title>
    </head>

    <body class="bg-pink-100 h-screen flex items-center justify-center">

        <form class="w-1s/6 bg-white py-8 rounded-md p-6 space-y-4" method="POST" action="/sign-in">
            <h1 class="text-center font-semibold text-2xl">Sign In</h1>
            <div class="bg-gray-200 rounded-full p-1">
                <input name="username" required
                    class="bg-transparent p-2 focus:outline-none focus:border-none text-gray-600 w-full"
                    placeholder="Email" type="email">
            </div>
            <div class="bg-gray-200 rounded-full p-1">
                <input name="password" required
                    class="bg-transparent p-2 focus:outline-none focus:border-none text-gray-600 w-full"
                    placeholder="Password" type="password">
            </div>
            <div class="flex space-x-2 items-center">
                <button class="bg-pink-400 py-2 px-4 rounded-full text-white text-sm font-semibold">SIGN IN</button>
                <p class="text-gray-400">Don't have an account? <a class="text-pink-400" href="/sign-up">Sign Up</a>
                </p>
            </div>
        </form>
    </body>

    </html>